@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', Arial, sans-serif;
    background-color: #FFFFFF;
    min-height: 100vh;
}

/* Header */
.header {
    background: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 30px;
    height: 35px;
}

.logo span {
    font-size: 24px;
    color: #000000;
    font-weight: 800;
}

.header .map-text {
    color: #8BC4E8;
}

.menu {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 80px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

.menu-item:first-child {
    color: #8BC4E8;

}

.menu-item img {
    width: 20px;
    height: 20px;
}

.menu-item:hover {
    color: #8BC4E8;
}


.container {
    max-width: 1200px;
    margin: 40px;
    padding: 60px 40px;
    margin-top: 30px;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 70px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 0;
    line-height: 1.1;
}

.hero-text h2 {
    font-size: 70px;
    font-weight: 600;
    color: #8BC4E8;
    margin-bottom: 15px;
    line-height: 1.1;
}

.hero-text p {
    font-size: 20px;
    color: #73706D;
    margin-bottom: 30px;
    line-height: 1.2;
}

.cta-button {
    padding: 16px 32px;
    border: none;
    border-radius: 20px;
    background: #FFD182;
    color: #131B2B;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}



.hero-images {
    position: relative;
    width: 500px;
    height: 500px;

    transform: translate(260px, -80px);
}

.pet-image {
    border-radius: 50%;
    top:20%;
    object-fit: cover;
}


.pet-image.large {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0  0 60px 20px rgba(243, 191, 69, 0.3);
}


.pet-image.medium {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 180px;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-100px, -30px);
    box-shadow: 0  0 60px 20px rgba(122, 153, 212, 0.3);
}


.pet-image.small {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 320px;
    left: 180px;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-30px, 15px);
    box-shadow: 0  0 60px 20px rgba(122, 153, 212, 0.3);
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:80px;
    background: white;
    padding: 16px;
    border-top: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer .logo-icon {
    width: 30px;
    height: 35px;
}

.footer span {
    font-size: 24px;
    color: #000000;
    font-weight: 800;
}

.footer .map-text {
    color: #8BC4E8;
}

