@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', Arial, sans-serif;
    background-color: #FFFFFF;
    min-height: 100vh;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width:100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 30px;
    height: 35px;
}

.logo span {
    font-size: 24px;
    color: #000000;
    font-weight: 800;
}

.header .map-text {
    color: #8BC4E8;
}


.menu {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 80px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #6B7280;
    font-size: 20px;
    font-weight: 600;
}

.menu-item img {
    width: 20px;
    height: 20px;
}


.menu-item.active {
    color: #8BC4E8;
}


.map-container {
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 80px;
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.add-animal-btn {
    position: fixed;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFD182;
    color: #000000;
    border: none;
    border-radius: 16px;
    padding: 16px 150px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito';
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s;
    min-width: 300px;
    margin-bottom: -16px;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:80px;
    background: white;
    padding: 16px;
    border-top: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer .logo-icon {
    width: 30px;
    height: 35px;
}

.footer span {
    font-size: 24px;
    color: #000000;
    font-weight: 800;
}

.footer .map-text {
    color: #8BC4E8;
}


#btnFilters {
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 14px 20px;
    border-radius: 10px;
    background: #8BC4E8;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
    font-weight: bold;
    font-family: 'Nunito', Arial, sans-serif;
}
#filtersPanel {
    position: fixed;
    top: 130px;
    right: 20px;
    display: flex;
    flex-direction: column; 
    gap: 8px;
    z-index: 999;
}

#filtersPanel button {
    padding: 8px 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s;
    font-family: 'Nunito', Arial, sans-serif;
}
#btnAll {
    background-color: #D9D9D9;
    color: white;
}

#btnLost {
    background-color: #FF7B7B;
}

#btnFound {
    background-color: #87C893;
}

#filtersPanel button.inactive {
    opacity: 0.5;
}


.pet-popup {
    width: 348px;
    font-family: 'Nunito', Arial, sans-serif;
}

.pet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}


.pet-date {
    font-size: 12px;
    color: #73706D;
}


.pet-status {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}

.pet-status.found {
    background: #87C893;
}

.pet-status.lost {
    background: #FF7B7B;
}


.pet-content {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}


.pet-info h3 {
    margin: 0;
    font-size: 16px;
}

.pet-info p {
    margin: 2px 0;
    font-size: 14px;
    color: #73706D;
}

.pet-photo img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 10px;
}

.pet-desc {
    margin-top: 6px;
    font-size: 16px;
    background: none;
    padding: 6px;
}

.pet-process {
    margin-top: 6px;
    background: #6bb9ff;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.pet-contact {
    margin-top: 8px;
    background: #FFD182;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    font-size: 16px;
}

.pet-contact:hover {
    background: #ffca00;
}

