@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background-color: #F7FAFC;
    min-height: 100vh;
}



.header {
    background: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 0.5px solid #D9D9D9;
    width: 100%;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 30px;
    height: 35px;
}

.logo span {
    font-size: 24px;
    color: #000000;
    font-weight: 800;
}

.header .map-text {
    color: #8BC4E8;
}

.menu {
    display: flex;
    gap: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #6B7280;
    font-size: 20px;
    font-weight: 600;
}

.menu-item img {
    width: 20px;
    height: 20px;
}

.menu-item.active {
    color: #8BC4E8;
}



.content {
    padding: 40px 60px 100px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.profile-block {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-left: -10px;
    width:1300px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 40px;

}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(90deg, #8BC4E8 0%, #A6DCD1 70%);;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 50px;
}

.avatar img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h2 {
    font-size: 26px;
    font-weight: 700;
    color: #131B2B;
    margin-bottom: 10px;
}

.email-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email-row img {
    width: 20px;
    height: 20px;
}

.email-row p {
    font-size: 20px;
    color: #6B7280;
    margin: 0;
}


.profile-card {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 40px;
    width: 1300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}



.tabs {
    display: flex;
    gap: 70px;
    border-bottom: 2px solid #E5E7EB;
    margin-bottom: 30px;
    margin-top: -20px;
}

.tab {
    background: transparent;
    border: none;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito';
    color: #6B7280;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tab-icon {
    width: 20px;
    height: 20px;
}

.tab.active {
    color: #8BC4E8;
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: -23px;
    height: 2px;
    background: #8BC4E8;
}



.petsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #F3F4F6;
    border-radius: 40px ;
}

.pet-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
}

.pet-left {
    width: 200px;
}

.pet-image {
    width: 168px;
    height: 168px;
    object-fit: cover;
    border-radius: 13px;
}

.pet-middle {
    flex: 1;
    margin-left: 15px;
    flex-direction: column;
}

.pet-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status {
    padding: 3px 10px;
    border-radius: 13px;
    font-size: 16px;
    color: white;
}

.status.lost {
    background: #FF7B7B;
}

.status.found {
    background: #87C893;
}

.species {
    padding: 3px 10px;
    border-radius: 16px;
    font-size: 16px;
    color: white;
    background: #8BC4E8;
}

.pet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
}

.bread {
    color: #73706D;
    font-size: 18px;
    font-weight: bold;
}

.description {
    color: #73706D;
    font-size: 18px;
}

.pet-right {
    display: flex;
    align-items: center;
}

.pet-right button {
    background: #FFD182;
    border: none;
    padding: 6px 10px;
    margin-right: 20px;
    border-radius: 13px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.animal-card {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    align-items: center;
    background-color: #FFFFFF;
    height: 206px;
    box-shadow: 0 4px 10px rgba(114, 136, 150, 0.4);

}

.animal-photo {
    width: 168px;
    height: 168px;
    border-radius: 12px;
    object-fit: cover;
}

.animal-info {
    flex: 1;
}

.animal-header {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 5px;
}

.animal-header h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    line-height: 26px;
}

.status-badge {
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
}

.status-saved {
    background: #FF7B7B;
    color: #FFFFFF;
    width: 103px;
    height: 26px;
    border-radius: 13px;
    font-weight: 700;
    font-family: 'Nunito';
    font-size: 16px;
    padding-top: 2px;
}

.status-found {
    background: #87C893;
    color: #FFFFFF;
    width: 103px;
    height: 26px;
    border-radius: 13px;
    font-weight: 700;
    font-family: 'Nunito';
    font-size: 16px;
    padding-top: 2px;
}

.status-looking {
    background: #8BC4E8;
    color: #FFFFFF;
    width: 242px;
    height: 26px;
    border-radius: 13px;
    font-weight: 700;
    font-family: 'Nunito';
    font-size: 16px;
    padding-top: 2px;
}

.status-help {
    background: #8BC4E8;
    color: #FFFFFF;
    width: 183px;
    height: 26px;
    border-radius: 13px;
    font-weight: 700;
    font-family: 'Nunito';
    font-size: 16px;
    padding-top: 2px;
    text-align: center;
}

.animal-type {
    font-size: 18px;
    color: #73706D;
    margin-bottom: 8px;
    font-weight: 700;
}

.animal-desc {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito';
    color: #73706D;
    margin-bottom: 8px;
}

.animal-date {
    font-size: 16px;
    color: #131B2B;
    font-weight: 700;
}

.animal-date span {
    color: #73706D;
    font-size: 15px;
    font-weight: 700; 
}



.animal-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-edit {
    background: #FFC973;
    color: #131B2B;
    border: none;
    border-radius: 13px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito';
    cursor: pointer;
    min-width: 130px;
    width: 169px;
    height: 45px;
}

.btn-view {
    background: white;
    color: #8BC4E8;
    border: 1px solid #8BC4E8;
    border-radius: 13px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito';
    cursor: pointer;
    min-width: 130px;
    width: 169px;
    height: 45px;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: white;
    padding: 16px;
    border-top: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer .logo-icon {
    width: 30px;
    height: 35px;
}

.footer span {
    font-size: 24px;
    color: #000000;
    font-weight: 800;
}

.footer .map-text {
    color: #8BC4E8;

}

.petsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #F3F4F6;
    border-radius: 40px ;
}

.pet-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
}

.pet-left {
    width: 200px;
}

.pet-image {
    width: 168px;
    height: 168px;
    object-fit: cover;
    border-radius: 13px;
}

.pet-middle {
    flex: 1;
    margin-left: 15px;
    flex-direction: column;
}

.pet-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status {
    padding: 3px 10px;
    border-radius: 13px;
    font-size: 16px;
    color: white;
}

.status.lost {
    background: #FF7B7B;
}

.status.found {
    background: #87C893;
}

.species {
    padding: 3px 10px;
    border-radius: 16px;
    font-size: 16px;
    color: white;
    background: #8BC4E8;
}

.pet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
}

.bread {
    color: #73706D;
    font-size: 18px;
    font-weight: bold;
}

.description {
    color: #73706D;
    font-size: 18px;
}

.pet-right {
    display: flex;
    align-items: center;
}

.pet-right button {
    background: #FFD182;
    border: none;
    padding: 6px 10px;
    margin-right: 20px;
    border-radius: 13px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
