<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>PetMap</title>
        <link rel="stylesheet" href="static/css/golovna.css">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
                <span>Pet<span class="map-text">Map</span></span>
            </div>
            <nav class="menu">
                <a href="#" class="menu-item">
                    <img src="static/img/House.svg" alt="House logo">
                    <span>Головна</span>
                </a>
                <a href="#" class="menu-item">
                    <img src="static/img/Label.svg" alt="Label logo">
                    <span>Карта</span>
                </a>
                <a href="#" class="menu-item">
                    <img src="static/img/User.svg" alt="user logo">
                    <span>Профіль</span>
                </a>
            </nav>
        </div>

        <div class="container">
            <div class="hero">
                <div class="hero-text">
                    <h1>Кожна відмітка на мапі -</h1>
                    <h2>шанс на життя</h2>
                    <p>Позначайте локацію, змінюйте статуси та координуйте допомогу в реальному часі.</p>
                    <button class="cta-button">Перейти до карти →</button>
                </div>
                <div class="hero-images">
                    <img src="static/img/image 11.png" alt="Кіт" class="pet-image small">
                    <img src="static/img/image 12.png" alt="Кіт" class="pet-image large">
                    <img src="static/img/image 13.png" alt="Собака" class="pet-image medium">
                </div>
            </div>
        </div>

        <div class="footer">
            <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
            <span>Pet<span class="map-text">Map</span></span>
        </div>
    </body>
</html>
