<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>PetMap</title>
        <link rel="stylesheet" href="static/css/map.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />  
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
                <span>Pet<span class="map-text">Map</span></span>
            </div>
            <nav class="menu">
                <a href="/" class="menu-item">
                    <img src="static/img/House2.svg" alt="House logo">
                    <span>Головна</span>
                </a>
                <a href="/map" class="menu-item active">
                    <img src="static/img/Label2.svg" alt="Label logo">
                    <span>Карта</span>
                </a>
                <a href="/profile" class="menu-item">
                    <img src="static/img/User.svg" alt="user logo">
                    <span>Профіль</span>
                </a>
            </nav>
        </div>

        <div class="map-container">
            <button id="btnFilters">Фільтри <img src="static/img/arrow.svg"></button>
               <div id="filtersPanel" style="display: none;">
                   <button id="btnAll">Всі</button>
                   <button id="btnLost">Загублена</button>
                   <button id="btnFound">Знайдена</button>
                </div>
            <div id="map">
                <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
                </script>
            </div>
        </div>

        <button class="add-animal-btn" onclick="window.location.href='{{ url_for('map_mark') }}'">
          Додати тварину на карту →
        </button>

        
        <div class="footer">
            <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
            <span>Pet<span class="map-text">Map</span></span>
        </div>
        <script src="static/js/map.js"></script>

    </body>
</html>


