<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>PetMap</title>
        <link rel="stylesheet" href="map2.css">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="logo.svg" alt="PetMap Logo" class="logo-icon">
                <span>Pet<span class="map-text">Map</span></span>
            </div>
            <nav class="menu">
                <a href="#" class="menu-item">
                    <img src="House2.svg" alt="House logo">
                    <span>Головна</span>
                </a>
                <a href="#" class="menu-item active">
                    <img src="Label2.svg" alt="Label logo">
                    <span>Карта</span>
                </a>
                <a href="#" class="menu-item">
                    <img src="User.svg" alt="user logo">
                    <span>Профіль</span>
                </a>
            </nav>
        </div>

        <div class="map-container">
            
        </div>

        
        <button class="back-btn">Повернутись в режим перегляду</button>

        <button class="photo-btn">
            <div class="icon-group">
                <img src="Vector.svg" alt="Позначка">
                <img src="Plus circle.svg" alt="Плюс">
            </div>
            <span>Додати тварину</span>
        </button>

        
        <div class="footer">
            <img src="logo.svg" alt="PetMap Logo" class="logo-icon">
            <span>Pet<span class="map-text">Map</span></span>
        </div>


            
        
    </body>
</html>