<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>PetMap</title>
        <link rel="stylesheet" href="static/css/marks.css">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
                <span>Pet<span class="map-text">Map</span></span>
            </div>
            <nav class="menu">
                <a href="#" class="menu-item">
                    <img src="static/img/House2.svg" alt="House logo">
                    <span>Головна</span>
                </a>
                <a href="#" class="menu-item">
                    <img src="static/img/Label.svg" alt="Label logo">
                    <span>Карта</span>
                </a>
                <a href="#" class="menu-item active">
                    <img src="static/img/User2.svg" alt="user logo">
                    <span>Профіль</span>
                </a>
            </nav>
        </div>

        <div class="content">
            <div class="profile-block">
                <div class="avatar">
                    <img src="static/img/Ivanna.svg" alt="Avatar">
                </div>
                <div class="profile-info">
                    <h2>Іванна</h2>
                    <div class="email-row">
                        <img src="static/img/Mail Ivanna.svg" alt="mail">
                        <p>example@gmail.com</p>
                    </div>
                </div>
            </div>
        
            
            
            <div class="profile-card">
                <div class="tabs">
                    <button class="tab active">
                        <img src="static/img/Tick.svg" alt="Pin" class="tab-icon">
                        Додані тварини
                    </button>
                    <button class="tab">
                        <img src="static/img/Settings.svg" alt="Settings" class="tab-icon">
                        Налаштування
                    </button>
                </div>
                
        
                    <div class="animals-list">
                        <div class="animal-card">
                            <img src="static/img/image 8.png" alt="Рудi" class="animal-photo">
                            <div class="animal-info">
                                <div class="animal-header">
                                    <h3>Рудi</h3>
                                    <span class="status-badge status-saved">Загублена</span>
                                </div>
                                <p class="animal-type">Кіт</p>
                                <p class="animal-desc">Рудий котик, домашній , має червоний нашийник</p>
                                <p class="animal-date">Додано: <span>27-01-2026</span></p>
                            </div>
                            <div class="animal-actions">
                                <button class="btn-edit">Редагувати</button>
                                <button class="btn-view">Переглянути</button>
                            </div>
                        </div>
        
                        <div class="animal-card">
                            <img src="static/img/image 9.png" alt="Лакі" class="animal-photo">
                            <div class="animal-info">
                                <div class="animal-header">
                                    <h3>Лакі</h3>
                                    <span class="status-badge status-found">Знайдена</span>
                                    <span class="status-badge status-looking">Тимчасово забрали до себе</span>
                                </div>
                                <p class="animal-type">Собака</p>
                                <p class="animal-desc">Темненький, знайшли нещодавно від будинку, має білу пляму на спині</p>
                                <p class="animal-date">Додано: <span>27-01-2026</span></p>
                            </div>
                            <div class="animal-actions">
                                <button class="btn-edit">Редагувати</button>
                                <button class="btn-view">Переглянути</button>
                            </div>
                        </div>
        
                        <div class="animal-card">
                            <img src="static/img/image 10.png" alt="Невідомо" class="animal-photo">
                            <div class="animal-info">
                                <div class="animal-header">
                                    <h3>Невідомо</h3>
                                    <span class="status-badge status-found">Знайдено</span>
                                    <span class="status-badge status-help">Веземо у клініку</span>
                                </div>
                                <p class="animal-type">Інше</p>
                                <p class="animal-desc">Знайшли маленького єнота, має проблеми з лапою</p>
                                <p class="animal-date">Додано: <span>27-01-2026</span></p>
                            </div>
                            <div class="animal-actions">
                                <button class="btn-edit">Редагувати</button>
                                <button class="btn-view">Переглянути</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
            <span>Pet<span class="map-text">Map</span></span>
        </div>
        

       <script src="static/js/add.js"></script>
            
        
    </body>

</html>
