<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>PetMap - Додати тварину</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pet_form.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
                <span>Pet<span class="map-text">Map</span></span>
            </div>
            <nav class="menu">
                <a href="/" class="menu-item">
                    <img src="static/img/House2.svg" alt="House logo">
                    <span>Головна</span>
                </a>
                <a href="/map" class="menu-item">
                    <img src="static/img/Label.svg" alt="Label logo">
                    <span>Карта</span>
                </a>
                <a href="/profile" class="menu-item">
                    <img src="static/img/User.svg" alt="user logo">
                    <span>Профіль</span>
                </a>
            </nav>
        </div>
             

        <input type="checkbox" id="status-switcher" hidden>
        
        <div class="status-tabs">
            <label for="status-switcher" class="status-tab status-found id="tab-found">Знайдена</label>
            <label for="status-switcher" class="status-tab status-lost id="tab-lost">Загублена</label>
        </div>

        <div class="content">
            <div class="form-card">
                <form class="animal-form">
                    <div class="form-row">
                        <div class="form-group">
                            <label>Кличка</label>
                            <input type="text" id="name" placeholder="Наприклад: Рудi">
                        </div>
                        <div class="form-group">
                            <label>Вид <span class="required">*</span></label>
                            <select id="species">
                                <option>Собака</option>
                                <option>Кіт</option>
                                <option>Інше</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label>Порода</label>
                            <input type="text" id="breed" placeholder="Наприклад: Золотистий ретривер">
                        </div>
                        <div class="form-group">
                            <label>Статус <span class="required">*</span></label>
                            <select id="status">
                                <option>Тимчасово забрали до себе</option>
                                <option>Знайдена</option>
                                <option>Загублена</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group full-width">
                        <label>Опис <span class="required">*</span></label>
                        <textarea id="description" class="found-placeholder" placeholder="Детальний опис зовнішнього вигляду, особливих прикмет..."></textarea>
                        <textarea id="description" class="lost-placeholder" placeholder="Детальний опис зовнішності тварини, особливі прикмети"></textarea>
                    </div>

                    <div class="form-group full-width">
                        <label>Фото <span class="required">*</span></label>
                        
                        
                        <div class="photo-upload found-upload">
                            <img src="static/img/Upload.svg" alt="Upload" class="upload-icon">
                            <p class="upload-main">Натисніть для завантаження фото</p>
                            <p class="upload-sub">або перетягніть сюди</p>
                            <input type="file" accept="image/*" hidden id="photo-input">
                        </div>
                        
                        
                        <div class="photo-upload-area lost-upload">
                            <div class="uploaded-photo">
                                <img src="static/img/image 8.png" alt="Рудi" class="animal-photo">
                            </div>
                            <div class="photo-upload">
                                <img src="static/img/plus.svg" alt="plus icon">
                                <p>Додати фото</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group full-width">
                        <label>Дата <span class="required">*</span></label>
                        <input type="date" id="date" placeholder="дд-мм-рррр">
                    </div>

                    <div class="form-actions">
                        <button type="button" class="btn-cancel">Скасувати</button>
                        <button type="submit" class="btn-submit found-submit">Додати тварину на карту</button>
                        <button type="submit" class="btn-submit lost-submit">Зберегти</button>
                    </div>

                  
                    <div class="danger-zone">
                        <p class="danger-title">Небезпечна зона</p>
                        <button type="button" class="btn-delete">Видалити тварину</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="footer">
            <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
            <span>Pet<span class="map-text">Map</span></span>
        </div>
    </body>

</html>
