<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>PetMap - Додати тварину</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pet_form.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
                <span>Pet<span class="map-text">Map</span></span>
            </div>
            <nav class="menu">
                <a href="/" class="menu-item">
                    <img src="static/img/House2.svg" alt="House logo">
                    <span>Головна</span>
                </a>
                <a href="/map" class="menu-item">
                    <img src="static/img/Label.svg" alt="Label logo">
                    <span>Карта</span>
                </a>
                <a href="/profile" class="menu-item">
                    <img src="static/img/User.svg" alt="user logo">
                    <span>Профіль</span>
                </a>
            </nav>
        </div>
             
        <div class="content">
          <form id="pet-form" enctype="multipart/form-data">
        
            <div class="form-wrapper">
        
              <div class="status-tabs">
                <input type="radio" name="statusType" id="found" value="found" checked hidden>
                <label for="found" class="status-tab">Знайдена</label>
        
                <input type="radio" name="statusType" id="lost" value="lost" hidden>
                <label for="lost" class="status-tab">Загублена</label>
              </div>
        
              <div class="form-card">
    
                <div class="form-row">
                    <div class="form-group">
                        <label>Кличка</label>
                        <input type="text" id="name">
                    </div>
    
                    <div class="form-group">
                        <label>Вид *</label>
                        <select id="species" required>
                            <option value="Собака">Собака</option>
                            <option value="Кіт">Кіт</option>
                            <option value="Інше">Інше</option>
                        </select>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label>Порода</label>
                        <input type="text" id="breed">
                    </div>
    
                    <div class="form-group">
                        <label>Статус *</label>
                        <select id="status" required>
                            <option>Тимчасово забрали до себе</option>
                            <option>Веземо в притулок</option>
                            <option>Веземо в клініку</option>
                        </select>
                    </div>
                </div>
    
                <div class="form-group full-width">
                    <label>Опис *</label>
                    <textarea id="description" required></textarea>
                </div>
    
                <div class="form-group full-width">
                    <label>Фото *</label>
    
                    <div class="photo-upload" id="upload-area">
                        <p>Натисніть для завантаження фото</p>
                        <input type="file" id="photo-input" accept="image/*" multiple hidden>
    
                    </div>
    
                   <div id="photo-preview"></div>
    
                </div>
    
    
                <div class="form-group full-width">
                    <label>Дата *</label>
                    <input type="date" id="date" required>
                </div>
    
                <div class="form-actions">
                    <button type="button" id="btn-cancel">Скасувати</button>
                    <button type="submit" id="btn-submit">Додати на карту</button>
                </div>
    
                <div class="danger-zone" id="danger-zone" style="display:none;">
                    <button type="button" id="btn-delete">Видалити тварину</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="footer">
            <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
            <span>Pet<span class="map-text">Map</span></span>
        </div>
        
        <script src="{{ url_for('static', filename='js/add.js') }}"></script>
   
    </body>
</html>
