<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>PetMap - Реєстрація</title>
        <link rel="stylesheet" href="static/css/registration.css">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
                <h1>Pet<span>Map</span></h1>
                <p>Вітаємо знову!</p>
            </div>

            <div class="card">
                <div class="tabs">
                    <a href="{{ url_for('login') }}"
                    class="tab {{ 'active' if request.path == url_for('login') else '' }}">
                    Вхід
                   </a>

                   <a href="{{ url_for('register') }}"
                   class="tab {{ 'active' if request.path == url_for('register') else '' }}">
                   Реєстрація
                  </a>
           </div>
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST" action="">
                    <label>Ім'я</label>
                    <div class="input-wrapper">
                       <input type="text" name="name" id="name" placeholder="Введіть Ваше ім'я" required>
                    </div>

                    <label>Email</label>
                    <div class="input-wrapper">
                        <img src="static/img/Mail.svg" alt="Mail Logo" class="mail-icon">
                        <input type="email" name="email" placeholder="example@gmail.com" required>
                    </div>

                    <label>Пароль</label>
                    <div class="input-wrapper">
                        <img src="static/img/Lock.svg" alt="lock Logo" class="lock-icon">
                        <input type="password" name="psw" placeholder="••••••••" required>
                        <img src="static/img/Eye.svg" alt="eye Logo" class="eye-icon">
                    </div>

                    <button type="submit">Зареєструватись</button>
                </form>
            </div>

            <div class="footer">
                <div class="footer-logo">
                    <img src="static/img/logo.svg" alt="PetMap Logo" class="logo-icon">
                    <span>Pet<span class="map-text">Map</span></span>
                </div>
            </div>    
        </div>
    </body>
</html>

