<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>PetMap - Вхід</title>
        <link rel="stylesheet" href="registration.css">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img src="logo.svg" alt="PetMap Logo" class="logo-icon">
                <h1>Pet<span>Map</span></h1>
                <p>Вітаємо знову!</p>
            </div>
    
            <div class="card">
                <div class="tabs">
                    <button class="tab">Вхід</button>
                    <button class="tab active">Реєстрація</button>
                </div>
    
                <form>
                    <label>Ім'я</label>
                    <div class="input-wrapper">
                       <input type="text" id="name" placeholder="Введіть Ваше ім'я">
                    </div>
                    
                    <label>Email</label>
                    <div class="input-wrapper">
                    <img src="Mail.svg" alt="Mail Logo" class="mail-icon">
                    <input type="email" placeholder="example@gmail.com">
                    </div>
    
                    <label>Пароль</label>
                    <div class="input-wrapper">
                    <img src="Lock.svg" alt="lock Logo" class="lock-icon">
                    <input type="password" placeholder="••••••••">
                    <img src="Eye.svg" alt="eye Logo" class="eye-icon">
                    </div>
    
    
                    <button type="submit">Зареєструватись</button>
                </form>
            </div>
    
            <div class="footer">
                <div class="footer-logo">
                    <img src="logo.svg" alt="PetMap Logo" class="logo-icon">
                    <span>Pet<span class="map-text">Map</span></span>
                </div>
            </div>    
        </div>
    </body>
</html>